pyyaml
azure-identity
azure-ai-projects>=2.0.0
azure-core
agent-framework>=1.13.0
agent-framework-foundry
requests
azure-storage-blob
azure-search-documents>=12.1.0b2
azure-mgmt-cognitiveservices
azure-cognitiveservices-speech
tavily-python>=0.5.0